/* VARIABLES */

// Boiler plater colors
$white:           rgba(255, 255, 255, 1);
$black:           rgba(45, 45, 45, 1);
$grey:            rgba(150, 150, 150, 1);
$red:             rgba(255, 0, 0, 1);

// Project Colors

$grey-light:      rgba(155, 155, 155, 1);
$grey:            rgba(216, 216, 216, 1);
$grey-dark:       rgba(114, 114, 114, 1);

// alt opacity colors

$grey-light-op1:  rgba(155, 155, 155, 0.06);
$grey-light-op2:  rgba(155, 155, 155, 0.11);
