/* ADD FONTELLO CODE HERE */

@font-face {
  font-family: 'fontello';
  src: url('/assets/src/fonts/icons/fontello.eot?17209352');
  src: url('/assets/src/fonts/icons/fontello.eot?17209352#iefix') format('embedded-opentype'),
       url('/assets/src/fonts/icons/fontello.woff2?17209352') format('woff2'),
       url('/assets/src/fonts/icons/fontello.woff?17209352') format('woff'),
       url('/assets/src/fonts/icons/fontello.ttf?17209352') format('truetype'),
       url('/assets/src/fonts/icons/fontello.svg?17209352#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17209352#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  font-size: $base-font-size*1.1; //was 1.1
  color: $grey-light;
  width: 1em;
  padding: 0em 0.4em 0 0;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}

.icon-print:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-hourglass:before { content: '\e804'; } /* '' */
.icon-quote-left:before { content: '\e805'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */

.icon-right {
  color: $white;
}

.icon1 {

  &:before {

    font-family: 'fontello';
    content: '\f154';
    position: absolute;
    color: $grey-light;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -3rem;

  }

}

.icon2 {

  &:before {

    font-family: 'fontello';
    content: '\e804';
    position: absolute;
    color: $grey-light;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -3.5rem;

  }

}

.icon3 {

  &:before {

    font-family: 'fontello';
    content: '\e802'; //not correct just using defaults
    position: absolute;
    color: $grey-light;
    font-size: 3rem;
    text-align: center;
    margin-left: -4rem;
    margin-top: -0.05rem;

  }

}

.icon4 {

  &:before {

    font-family: 'fontello';
    content: '\e801';
    position: absolute;
    color: $grey-light;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -4rem;
    margin-top: -0.1rem;

  }

}
