/* SECTION */

@import '~breakpoint-sass/stylesheets/breakpoint';

/*
  * New Comment style - comment above here *

  .example {

  @media screen and ($example) {
  width: 100%;
  }

}

  * or below down here *
*/

// Section

section, header {
  border-bottom: 3px solid $grey-light-op2;
}

header {
  padding: $base-margin !important;
}

section {
  padding: $base-margin*1.5 !important; //what is the important counteracting?

  &:last-child {
    border: none;
  }

  @include breakpoint($break_tablet) {
    padding: $base-margin*0.5 !important;
  }

}

// Content //


.content, .sidebar {

  &--secondary {

    background-color: $grey-light-op2;
    border-radius: 5px;
    margin: $base-margin*2 0;
    padding: $base-margin*1 $base-margin*1.5;

    @include breakpoint($break_medium) {
      margin: $base-margin 0 !important;
    }

    &--btn {
      padding: $base-margin*1;
    }

    /* @include breakpoint($break_tablet) {
      padding-left: 0;

    } */

  }

  &__intro {

    font-size: 1.1875rem;
    line-height: 1.5625;
    color: $black;
    padding-bottom: $base-margin*0.5;

  }

  &__expand {

    display: none;

  }
}

// Side bar

aside {
  padding-left: $base-margin*2;

  @include breakpoint($break_medium) {
    padding: 0 !important;
  }

}

.sidebar {
  padding-left: $base-margin*2;

  @include breakpoint($break_medium) {
    padding: 0 !important;
  }

  &__img {

    display: block !important;
    margin: auto !important;

  }

  &__button {
    text-align: center; // reconsider
  }

}

  // images

.img, img {

  padding: $base-margin*1.5 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;

  &--med {
    max-width: 75%;
  }

  &--sm {
    max-width: 70%;
    margin: 0 auto;
  }

  &--card {
    max-width: 100%;
    padding: 0;
  }

}

// address

.address {
  line-height: 1.5rem;
  padding: 0.5em 2.0em;

  &__img {
    padding-left: 1em;
  }
}

// others

video {
  margin: $base-margin 0;
}
